@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: slab;
    background-color: white;
}
@font-face {
    font-family: slab;
    src: url(../fontes/RobotoSlab-VariableFont_wght.ttf);
}

:root {
    --cor1: #A60E00;
    --cor2: #B47ED9;
    --cor3: #B4BFBF;
    --cor4: #5F7373;
    --cor5: #313E40;
}

/*Navegador/////////////////////////////////////////////////////////////////////////////////////////////////*/

#navegador {
    width: 100vw;
    height: 80px;
    padding: 0px 100px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.493);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: #313e406e;
    /*
    background-image: url(../midias/imagem/nav\ fundo2.jpg);
    background-size: cover;
    background-position: bottom;
    */
    font-family: slab;
}
#logo {
    display: flex;
    flex-grow: 1; 

    padding-left: 60px;
}
#navlist {
    display: flex;
    flex-wrap: wrap;
}
#navlist li {
    padding: 0px 30px;

    font-weight: bolder;
    color: #0D0D0D;
}
#navlist li:hover {
    color: #A60E00;
    transition-duration: 0.5s;
}

/*conteudo//////////////////////////////////////////////////////////////////////////////////////////////////*/

#cont {
    margin: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.noticia {
    width: 900px;
    height: 350px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.185);
    border-radius: 10px;
    margin: 30px;
    
    color: rgb(100, 100, 100);
}
.noticia p {
    margin-bottom: 10px;
}
#noticia img {
    width: 200px;
    height: 175px;
}
#noticia a {
    color: black;
}
#propaganda {
    width: 330px;
    height: 210px;
    margin-top: 30px;

    text-align: center;

    background-image: url(../midias/imagem/propaganda1.jpg);
    background-size: contain;
}
#txtp  {
    padding: 50px;
    color: #A60E00;

    font-size: 3em;
}
#menu {
    width: 330px;
    margin: 20px 0px;
}
#imenu {
    font-size: 2em;
    align-items: center;
}
#imenu li {
    border: 2px solid rgba(0, 0, 0, 0.185);
    border-radius: 10px;
    text-align: center;
    margin: 0.5px;
}
#imenu a {
    color: black;
}
#imenu li:hover {
    font-weight: bolder;
    border: 2px solid rgba(128, 128, 128, 0.281);
}
#rodape {
    width: 100vw;
    height: 50px;

    text-align: center;

    background-color: #313E40;
}